@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    background-image: linear-gradient(to right bottom,#41EFDB,#298EF0);
    border: 2px solid black;
    width: 35%;
    border-radius: 30px;
    height: 370px;
    margin: 100px auto;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 5px grey;
}
.container .details{
    font-weight: 600;
    position: absolute;
    border-radius: 50px;
    width: 45%;
    height: 40px;
    left: 17%;
    top: 15%;
    border: none;
    padding-left: 20px;
}
.container .details:focus{
    border: 2px solid black;
}
.container .search{
    width: 55px;
    height: 45px;
    position: absolute;
    left: 72%;
    top: 14.5%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    transition: 0.2s;
}
.container .search ion-icon {
    font-size: 25px;
    font-weight: 600;
    box-sizing: border-box;
}
.container .search:hover{
    transform: scale(1.2);
    border: 2px solid black;
}
.container .result{
    font-size: 120px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 25px;
}
.container .location{
    letter-spacing: 3px;
    font-family: 'Carter One', cursive;
    font-weight: 600;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 60%;
}
.container .display{
    position: absolute;
    left: 11%;
    font-size: 35px;
    color: white;
    font-weight: 700;
    line-height: 1.5;
}
.container .error{
    position: absolute;
    top: 25%;
    left: 6%;
    color: white;
    font-weight: 700;

}
.container .humidityresult{
    font-weight: 700;
    font-size: 25px;
    color: white;
    align-self: self-end;
    justify-self: start;
    position: absolute;
    left: 10%;

}
.container .windspeedresult{
    font-weight: 700;
    font-size: 25px;
    color: white;
    align-self: self-end;
    justify-self: flex-end;
    position: absolute;
    left: 70%;
}
.container .windspeed{
    font-weight: 500;
    font-size: 20px;
    color: white;
    align-self: self-end;
    justify-self: flex-end;
    position: absolute;
    left: 70%;
    top: 85%;
    font-family: 'Dancing Script', cursive;
    display: none;
}
.container .humidity{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 20px;
    color: white;
    align-self: self-end;
    justify-self: start;
    position: absolute;
    left: 7%;
    top: 85%;
    display: none;
}
.container .convert{
    position: absolute;
    top: 85%;
    left: 35%;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    display: none;
    transition: 0.1s;
    box-sizing: border-box;
}
.container .convert:hover{
    border: 2px solid black;
}


@media screen and (max-width : 735px) {
    .container .result{
        font-size: 100px;
    }
}

@media screen and (max-width : 515px) {
    .container .result{
        font-size: 70px;
    }
    .container .location{
        font-size: 20px;
    }
    .container{
        height: 300px;
    }
    .container button{
        width: 40px;
        height: 30px;
        left: 60%;
    }
    .container button ion-icon{
        font-size: 20px;
        position: relative;
        top: -5px;
    }

    .container .details{
        width: 40%;
        height: 30px;
        font-size: 10px;
        padding-left: 8px;
        box-sizing: border-box;
    }


}